/__tests__
/.github
/.ssrsx
/coverage
/node_modukes
/jsx
/src
/test
.eslintrc.js
.gitignore
.npmignore
index.ts
nodemon.json
jest.config.ts
tsconfig.build.json
tsconfig.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
